
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 799;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 600;
    color: #8f44fd;
    font-family: 'Old English Text MT', sans-serif;
    align-items: flex-start;
}
.navbar-toggler {
    width: 50%;
}

.nav-link {
  
    color: #ff6a00;
    font-family: 'Old English Text MT', sans-serif,;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 20px;
    transition: all 0.3s ease;
}

    .nav-link:hover {
        color: #204201;
    }

.navbar-toggler {
    border: none;
    background-color: transparent;
  
}

.navbar-toggler-icon {
    background-image: url('https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png');
    background-size: cover;
    width: 30px;
    height: 30px;
}

.navbar-toggler:focus {
    outline: none;
}
nav-link-hover {
    align-content: center;
    color: #86430e;
}
nav-link-hover:hover {
    color: #204201;
}

.navbar-nav {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Old English Text MT', sans-serif;
}
.navbar-nav:hover {
    color:burlywood;
   
}

@media (min-width: 760px) and (max-width: 990px) {
    .navbar-collapse {
        background-color: #fff;
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 998;
        padding: 20px;
        overflow-y: auto;
        transition: all 0.3s ease;
        transform: translateX(70%);
    }

        .navbar-collapse.show {
            transform: translateX(0);
        }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        margin-bottom: 20px;
    }
}

    @media (max-width: 991px) {
        .navbar-collapse {
            background-color: #fff;
            position: fixed;
            top: 60px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 998;
            padding: 20px;
            overflow-y: auto;
            transition: all 0.3s ease;
            transform: translateX(70%);
        }

            .navbar-collapse.show {
                transform: translateX(0);
            }

        .navbar-nav {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .nav-link {
            margin-bottom: 20px;
            font-family:'Orator Std';

        }
        .Nav {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        /*
header {
    position: relative;
    z-index: 999;
    background:#1b0101;
    padding: 20px;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 600;
    color:#f8ac07;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 20px;
    transition: all 0.3s ease;
}

    .nav-link:hover {
        color: #8f44fd#6b0f05;
        transform: translateY(-3px);
    }

.navbar-toggler {
    border: none;
    background-color: transparent;
}

.navbar-toggler-icon {
    background-image: url('https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png');
    background-size: cover;
    width: 30px;
    height: 30px;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-nav {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

@media (max-width: 991px) {
    .navbar-collapse {
        background-color: #fff;
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 998;
        padding: 20px;
        overflow-y: auto;
        transition: all 0.3s ease;
        transform: translateX(100%);
    }

        .navbar-collapse.show {
            transform: translateX(0);
        }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        margin-bottom: 20px;
    }
        */
    }
    