footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    height:45px;
    
}
.vo {
    text-align: center;
}

    .vo img {
        height: 420px;
        width: 300px;
        padding-top: 10px;
    }
.content {
    background-image:url(Vehicle/img/b.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}



.hero form {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
