footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
   
    
}
.vo {
    text-align: center;
}

    .vo img {
        height: 420px;
        width: 300px;
        margin-top: 50px;
    }
.content {
    padding-top:15px;
    margin-top:55px;
}

.hero form {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
